/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --body-bg: #000028;
  --header-bg: url(../images/cover-image-dark.png) center / cover no-repeat;
  --accent-color: #FF0070;
  --decor-bg: var(--accent-color);
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --heading-color: var(--accent-color);
  --border-color: #FF0070;
  --rec-color: #FF0070;
  --link-shadow: 2px 2px 0 var(--accent-color);
  --link-hover-shadow: 1px 1px 0 var(--accent-color);
}

